
<body>

<!--FOTO PERFIL-->

<div id="layout">
    
      <div class="row">
        <div class="col-md-12 text-center ">
    <div text-center id="foto-perfil">
      <img src="/assets/imgs/foto-perfil.png" class="img-fluid" alt="">
    </div>
        </div>
      </div>
   

<!--DATOS-->
    
      <div class="row" id="datos-ppales">
        <div class="col-md-12 text-center ">
          <h1><strong>SORAYA FERULANO PAEZ</strong></h1>
          <h5>Full Stack Developer Jr.</h5>
        </div> 
        <div class="container text-center">
            <img src="/assets/imgs/star.png" alt="60" width="10%" text-center>
        </div>
      </div>
    
          
  <div class="container">
      <div class="row text-center">
        <div class="col-md-12 ">
            <div id="acercademi" text-left >
                <h2>Acerca de mi</h2> 
            </div>
          <div class="border border-dark">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia est pariatur necessitatibus ipsa excepturi vel explicabo illo dolore, autem maiores magni, quaerat architecto quidem quae fugit nesciunt recusandae neque asperiores!</p>
          </div>
          
          
        </div> 
      </div>
    </div>
  
</div> 

  </body>
