<body>

  <!--BANNER-->

  <section id="banner">
    <img [innerHTML] src="{{usuario.imgBanner}}" width="100%" alt="40px" height="300px">
  </section>


  <!--FOTO PERFIL-->

  <div id="layout">

    <div class="row">
      <div class="col-md-12 text-center ">
        <div text-center >
          <img id="fotoperfil" src="{{usuario.fotoPerfil}}" class="img-fluid" >
        </div>
      </div>
    </div>


    <!--DATOS-->

    <div class="row" id="datos-ppales">
      <div class="col-md-12 text-center ">
        <h1><strong>{{usuario.nombre}} {{usuario.apellido}}</strong></h1>
        <a name="acercade"></a>
        <h4>{{usuario.titulo}}</h4>
      </div>
      <div class="container text-center">
        <img src="/assets/imgs/star.png" alt="60" width="10%" text-center>
      </div>
    </div>

   
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 ">
          <div id="acercademi"id= «contenido» text-left>
            
            <h2>Acerca de mi</h2>
          </div>
          <div class="col-md-12" id="boton">
            <button class="btn-btn-dark" routerLink="/editusuario/{{usuario.idUsuario}}" *ngIf="isLogged"><i
                class="bi bi-pencil-square"></i></button>
          </div>
          <div class="border border-dark">
            <p>{{usuario.descripcion}}</p>
          </div>


        </div>
      </div>
    </div>

  </div>



</body>