
<body>
<nav class="top-nav bg-dark">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto">
       <img src="assets/imgs/aplogo.png" alt="90" width="90" height="" class="d-inline-block" class="py-1"> 
      </div>
      <div class="col-auto" >
          <div class="social-links">
            <a href="#"> <img src="assets/imgs/icono-linkedin.png" alt="20" width="20" class="d-inline-block" class="py-2 mx-2"> </a>
            <a href="https://www.behance.net/MALEVA"> <img src="assets/imgs/icono-behance.png" alt="20" width="20" class="d-inline-block" class="py-2 mx-2"> </a>
            <a href="#"> <img src="assets/imgs/icono-correo.png" alt="20" width="20" class="d-inline-block" class="py-2 mx-2"> </a>  
            <button type="button" class="btn btn-outline-light btn-sm">INGRESAR</button> 
         </div>
      </div>      
    </div>
  </div>
</nav>
</body>
