<div id="layout">
       <div class="text-center">
            <img src="/assets/imgs/star.png" rounded mx-auto d-block alt="60" width="10%" justify-content-center>
            <h1>Proyectos</h1>
        </div>

        <div class="container">
        <div class= "row "> 
                <div class="col-md-12">
                <div class="border border-dark ">
                    <div class="col-sd-12 col-md-6 col-lg-3 parte1">
                        <h4>BLABLABLABLA</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam error nam sint ea facilis explicabo rem temporibus fugiat, perferendis corporis doloremque alias iusto voluptatem. Est veniam debitis neque quis.</p>
                    </div>
                    <div class="col-sd-12 col-md-6 col-lg-3 parte2">
                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5a092924690151.5633865e35416.jpg"  width="100%" alt="" class="img-fluid img-proyecto">
                    </div>
                    <div class="col-sd-12 col-md-6 col-lg-3 parte1">
                        <h4>BLABLABLABLA</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam error nam sint ea facilis explicabo rem temporibus fugiat, perferendis corporis doloremque alias iusto voluptatem. Est veniam debitis neque quis.</p>
                    </div>
                    <div class="col-sd-12 col-md-6 col-lg-3 parte2">
                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d836f913362211.56272e452b63f.jpg"  width="100%" alt="" class="img-fluid img-proyecto">
                    </div> 
            </div>
        </div>
        <div class="text-center">
            <img src="/assets/imgs/star.png" rounded mx-auto d-block alt="60" width="10%" justify-content-center>
          </div>
  </div>
</div>  
    
  
  
