<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreSkill">Skill</label>
                    <input type="text" class="form-control" id="nombreSkill" name="nombreSkill"
                        [(ngModel)]="nombreSkill" required>
                </div>
                <div class="form-group">
                    <label for="imgSkill">URL Imagen</label>
                    <input type="text" class="form-control" id="imgSkill" name="imgSkill" [(ngModel)]="imgSkill"
                        required>
                </div>
                <div class="form-group">
                    <label for="porcentajeSkill">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentajeSkill" name="porcentajeSkill" [(ngModel)]="porcentajeSkill"
                        required>
                </div>
                               <button class="btn-btn-dark">
                    Agregar Skill
                </button>
            </form>
        </div>
    </div>
</div>