<div id="layout">
  <div class="text-center">
   <img src="/assets/imgs/star.png" rounded mx-auto d-block alt="60" width="10%" justify-content-center>
   <h1>Hard & Soft Skills</h1>
  </div>
     
  <div class="container" >
    <div class="row"> 
      <div class="col-12" >     
         <div class="border border-dark text-center"> 
          <circle-progress
            [percent]="30"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconohtml_1.png'"
            [imageWidth]="60"
            [imageHeight]="80"
            [showImage]="true"
            [showTitle]="true"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        
            <circle-progress
            [percent]="30"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconocss.png'"
            [imageWidth]="60"
            [imageHeight]="80"
            [showImage]="true"
            [showTitle]="true"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
      
            <circle-progress
              [percent]="30"
              [radius]="70"
              [imageSrc]="'assets/imgs/iconjs.png'"
              [imageWidth]="60"
              [imageHeight]="80"
              [showImage]="true"
              [showTitle]="false"
              [outerStrokeWidth]="4"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#000000'"
              [innerStrokeColor]="'#000000'"
              [animation]="true"
              [animationDuration]="300"
          ></circle-progress>
      
      
            <circle-progress
            [percent]="30"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconoangular.png'"
            [imageWidth]="75"
            [imageHeight]="75"
            [showImage]="true"
            [showTitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        
        
          <circle-progress
            [percent]="30"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconoboostrap.png'"
            [imageWidth]="85"
            [imageHeight]="70"
            [showImage]="true"
            [showTitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        
        
            <circle-progress
            [percent]="30"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconojava.png'"
            [imageWidth]="50"
            [imageHeight]="85"
            [showImage]="true"
            [showTitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        
        
            <circle-progress
            [percent]="30"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconomysql.png'"
            [imageWidth]="75"
            [imageHeight]="75"
            [showImage]="true"
            [showTitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
      
      
            <circle-progress
            [percent]="30"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconogithub.png'"
            [imageWidth]="70"
            [imageHeight]="80"
            [showImage]="true"
            [showTitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        
        
            <circle-progress
            [percent]="80"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconoai_1.png'"
            [imageWidth]="75"
            [imageHeight]="75"
            [showImage]="true"
            [showTitle]="true"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        
        

            <circle-progress
            [percent]="80"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconops_1.png'"
            [imageWidth]="75"
            [imageHeight]="75"
            [showImage]="true"
            [showTitle]="true"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>  
        
        
            <circle-progress
            [percent]="80"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconolr_1.png'"
            [imageWidth]="75"
            [imageHeight]="75"
            [showImage]="true"
            [showTitle]="true"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        
            <circle-progress
            [percent]="80"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconopr_1.png'"
            [imageWidth]="75"
            [imageHeight]="75"
            [showImage]="true"
            [showTitle]="true"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        
        
            <circle-progress
            [percent]="100"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconoredes.png'"
            [imageWidth]="75"
            [imageHeight]="75"
            [showImage]="true"
            [showTitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>

            <circle-progress
            [percent]="100"
            [radius]="70"
            [imageSrc]="'assets/imgs/iconotrabajo-equipo.png'"
            [imageWidth]="85"
            [imageHeight]="85"
            [showImage]="true"
            [showTitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
       </div>
     </div>
   </div>
</div>
  

       
        
 
          
    
            
        
