<div id="layout">
  <div class="text-center">
    <div class="text-center">
      <img src="/assets/imgs/star.png" rounded mx-auto d-block alt="60" width="10%" justify-content-center>
    </div>
    <h2>Hard & Soft Skills</h2>
  </div>


  <div class="container">
    <div class="row">
      <div>

      </div>
      <div class="col-12" text-center>
        <button type="button" class="btn-btn-dark" routerLink="/nuevaskill" *ngIf="isLogged">
          Nueva Skill
        </button>
        <div class="border border-dark text-center">
          <div id=circuloprogreso class=" col text-center" *ngFor="let Skill of skill">

            <circle-progress [percent]="Skill.porcentajeSkill" [radius]="70" [imageSrc]="Skill.imgSkill"
              [imageWidth]="70" [imageHeight]="70" [showImage]="true" [showTitle]="true" [outerStrokeWidth]="4"
              [innerStrokeWidth]="6" [outerStrokeColor]="'#000000'" [innerStrokeColor]="'#000000'" [animation]="true"
              [animationDuration]="300">
            </circle-progress>
            <button class="btn-btn-dark" *ngIf="isLogged" routerLink="/editskill/{{Skill.idSkill}}"><i
                class="bi bi-pencil-square"></i></button>
            <button class="btn-btn-dark" *ngIf="isLogged" (click)="delete(Skill.idSkill)"> <i
                class="bi bi-x-circle-fill"></i></button>
          </div>
        </div>
      </div>
    </div>




  </div>