<body data-bs-spy="scroll" data-bs-target=".navbar">


<header>

    <!--Navbar AP-->
    <app-navbar-redes></app-navbar-redes>
      
    <!--Navbar página-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">ACERCA DE MI</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">EDUCACIÓN/EXPERIENCIA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">SKILLS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">PROYECTOS</a>
              </li>
            </ul>
            

          </div>
        </div>
      </nav>
</header>

<!--BANNER-->

<section id="banner">
  <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/63ad8c86128681.5d909dad4fd8a.jpg" width="100%" alt="60px" height="400px" >
</section>


     
   






      
 

  

  
        
      
      
</body>