<div class="container" *ngIf="exp">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreExp">Puesto</label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="exp.nombreExp"
                        required>
                </div>
                <div class="form-group">
                    <label for="lugarExp">Empresa</label>
                    <input type="text" class="form-control" id="lugarExp" name="lugarExp" [(ngModel)]="exp.lugarExp"
                        required>
                </div>
                <div class="form-group">
                    <label for="fechaExp">Período</label>
                    <input type="text" class="form-control" id="fechaExp" name="fechaExp" [(ngModel)]="exp.fechaExp"
                        required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp">Tareas realizadas</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionExp"
                        [(ngModel)]="exp.descripcionExp" required>
                </div>
                <button class="btn-btn-dark">
                 Editar experiencia   
                </button>
            </form>
        </div>
    </div>
</div>