
<div id="layout">
     
<div class="container col-12">
<div class="row "> <div>
    <div class="text-center">
    <img src="/assets/imgs/star.png" rounded mx-auto d-block alt="60" width="10%" justify-content-center>
  </div>
    <h2>Experiencia Laboral</h2>
    <div class="border border-dark" id="lista-trabajos" >
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h4>años</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, quam exercitationem, reprehenderit voluptatum, beatae eos doloribus dolores error ipsam maiores laboriosam. Porro voluptates itaque magni fuga nam, praesentium recusandae nulla!</p>
            </li>
            <li>
                <h3>Trabajo 2</h3> - <h4>años</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, quam exercitationem, reprehenderit voluptatum, beatae eos doloribus dolores error ipsam maiores laboriosam. Porro voluptates itaque magni fuga nam, praesentium recusandae nulla!</p>
            </li>
            <li>
                <h3>Trabajo 3</h3> - <h4>años</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, quam exercitationem, reprehenderit voluptatum, beatae eos doloribus dolores error ipsam maiores laboriosam. Porro voluptates itaque magni fuga nam, praesentium recusandae nulla!</p>
            </li>
            
        </ul>
    </div>
</div>
</div>
</div>    
