
<div id="layout">
     
<div class="container col-12 text-center">
<div class="row "> <div>
    <div class="text-center">
    <img src="/assets/imgs/star.png" rounded mx-auto d-block alt="60" width="10%" justify-content-center>
  </div>
    <h2>Experiencia Laboral</h2>
    <div class=" col-lg-12 ">
        <button type="button" class="btn-btn-link" routerLink="/nuevaexp" *ngIf="isLogged" >
         Nueva experiencia
        </button>
    </div>
    <div class="col-lg-12" class="table-responsive">
    <table  class="table">
        <tbody>
            <tr *ngFor="let Experiencia of exp">
                <td>{{Experiencia.nombreExp}}</td>
                <td>{{Experiencia.lugarExp}}</td>
                <td>{{Experiencia.fechaExp}}</td>
                <td>{{Experiencia.descripcionExp}}</td>
                <td *ngIf="isLogged"><button class="btn-btn-dark" routerLink="/editexp/{{Experiencia.idExp}}"><i class="bi bi-pencil-square"></i></button></td>
                <td *ngIf="isLogged"><button class="btn-btn-dark" (click)="delete(Experiencia.idExp)"><i class="bi bi-x-circle-fill"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>    
