<div id="layout">

    <div class="container col-12 text-center">
        <div class="row ">
            <div>
                <div class="text-center">
                    <img src="/assets/imgs/star.png" rounded mx-auto d-block alt="60" width="10%"
                        justify-content-center>
                </div>
                <a name="educacion"></a>
                <h2>Educación</h2>
                <div class=" col-lg-12 ">
                    <button type="button" class="btn-btn-link" routerLink="/nuevaedu" *ngIf="isLogged">
                        Nueva educacion
                    </button>
                </div>
                <div class="col-lg-12" class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let Educacion of edu">
                                <td>{{Educacion.nombreEdu}}</td>
                                <td>{{Educacion.lugarEdu}}</td>
                                <td>{{Educacion.fechaEdu}}</td>
                                <td>{{Educacion.descripcionEdu}}</td>
                                <td *ngIf="isLogged"><button class="btn-btn-dark"
                                        routerLink="/editedu/{{Educacion.idEdu}}"><i
                                            class="bi bi-pencil-square"></i></button></td>
                                            <td *ngIf="isLogged"><button class="btn-btn-dark"
                                                (click)="delete(Educacion.idEdu)"><i class="bi bi-x-circle-fill"></i></button>
                                        </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>