<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Título</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu"
                        required>
                </div>
                <div class="form-group">
                    <label for="lugarEdu">Establecimiento</label>
                    <input type="text" class="form-control" id="lugarEdu" name="lugarEdu" [(ngModel)]="lugarEdu"
                        required>
                </div>
                <div class="form-group">
                    <label for="fechaEdu">Período</label>
                    <input type="text" class="form-control" id="fechaEdu" name="fechaEdu" [(ngModel)]="fechaEdu"
                        required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp">Descripción</label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu"
                    [(ngModel)]="descripcionEdu" required>
                </div>
                <button class="btn-btn-dark">
                 Agregar educación   
                </button>
            </form>
        </div>
    </div>
</div>
